PORT=5000
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_NEW_PASSWORD@cluster0landingpagecms.7sulp3v.mongodb.net/landingpage_cms?retryWrites=true&w=majority&appName=Cluster0LandingPageCMS
ACCESS_TOKEN_SECRET=YOUR_NEW_ACCESS_TOKEN_SECRET

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=12345678

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=YOUR_NEW_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_NEW_CLOUDINARY_API_SECRET

VITE_API_URL=http://localhost:5000/api
